/* add gradient to entire background */

#root {
  background-image: linear-gradient(
    to right,
    #0f0c29,
    #302b63,
    #24243e,
    #0f0c29
  );
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  /* width: 100%; */
  /* max-width: 1200px; */
  padding: 10px 20px;
  box-sizing: border-box;
}
